<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./src/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gugi&family=Mohave:wght@536&family=PT+Sans&display=swap" rel="stylesheet">
    <title>The Sun Room</title>
</head>
<header>
<nav>
    <ul>
        <li id="nav-home">HOME</li>
        <li id="nav-dashboard">DASHBOARD</li>
        <li id="nav-login"><a href="/login"><button id="loginBtn">LOGIN</button></a></li>
            <li id="nav-logout"><button id="logoutBtn">LOG OUT</button></li>
    </ul>
    
</nav>
<h1 id="logo">
    THE TECH BLOG
</h1>
<div>
        {{{body}}}
    </div>
</header>
    <footer>
        &copy; The Tech Blog Productions 2021
    </footer>

</body>

</html>