<main>
    <div id="btn-wrap">
    <button id="signUpBtn">
           <span>Sign Up</span>
       </button>
       <br>
       <button id="signInBtn">
           <span>Sign In</span>
       </button>
    </div>
     <div id="sign-upWrap">
   <form id="signUpForm">
       <label id="signupFormLabel">Sign Up</label>
       <br>
       <br>
       <br>
       <input value="" class="form-input" placeholder="Username" id="user_name" style="width: 20rem;">
       <br>
       <input value="" class="form-input" type="password" id="password" placeholder="Password" style="width: 20rem;">
       <br>

       <button id="signUpFormBtn" type="submit">Sign Up</button>
       <br>
       <a id="login-form-link" href="/landingpage">Login Instead</a>
   </form>
   </div>

<div id="loginWrap">
   <form id="loginForm">
       <label id="loginFormLabel">Log In</label>
       <br>
       <br>
       <br>
       <input class="form-input" placeholder="Username" id="user_name" style="width: 20rem;">
       <br>
       <input class="form-input" type="password" id="password" placeholder="Password" style="width: 20rem;">
       <br>

       <button id="loginFormBtn" type="submit">Sign In</button>
       <br>
       <a id="signup-form-link" href="/landingpage">Sign Up Instead</a>
   </form>
   </div>
</main>
  
<script src="./js/login.js"></script>
<script src="./js/landingpage.js"></script>