<main>

<div id="loginWrap">
    <form id="loginForm">
        <label id="loginFormLabel">Log In</label>
        <br>
        <br>
        <br>
        <input class="form-input" placeholder="Username" id="user_name" style="width: 20rem;">
        <br>
        <input class="form-input" type="password" id="password" placeholder="Password" style="width: 20rem;">
        <br>

        <button id="loginFormBtn" type="submit">Sign Up</button>
        <br>
        <a id="signup-form-link" href="/sign-up">Sign Up Instead</a>
    </form>
    </div>
</main>
