  <div id="sign-upWrap">
    <form id="signUpForm">
        <label id="signupFormLabel">Sign Up</label>
        <br>
        <br>
        <br>
        <input value="" class="form-input" placeholder="Username" id="user_name" style="width: 20rem;">
        <br>
        <input value="" class="form-input" type="password" id="password" placeholder="Password" style="width: 20rem;">
        <br>

        <button id="signUpFormBtn" type="submit">Sign Up</button>
        <br>
        <a id="login-form-link" href="/login">Login Instead</a>
    </form>
    </div>
    <script src="./public/sign-up"></script>